/ Modal
#share-pdf.modal.fade{:role => "dialog"}
  .modal-dialog.aligned-popup
    .modal-content
      .modal-header
        %h3.modal-title.float-left New email
        %button.close{"data-dismiss" => "modal"} x
      .modal-body
        .form-group
          %span Send To
          %span 
            %input#send-to{:type => "text"}
            = hidden_field_tag :nature_id, "", :value => @sale.nature_id
            = hidden_field_tag :sale_id, "", :value => @sale.id
            = hidden_field_tag :template_id, "", :value => @template_id
        .form-group
          %span Subject
          %span 
            %input.form-control#subject{:type => "text"}
        .form-group
          %textarea#editor1.ckeditor{:name => "editor1"} 
            #{current_user.digital_signature}
      .modal-footer
        %span 
          %input.form-control#pdf-file-name{:type => "text", :value => "original.pdf", :sale_key => @sale.number}
        - if current_user.digital_signature.blank?
          %button.btn.btn-secondary#signature Add Signature
        - else
          %button.btn.btn-secondary#signature Edit Signature
        %button.btn.btn-secondary#send-email Send
        / %button.btn.btn-primary Save changes
#add-signature.modal.fade{:role => "dialog"}
  .modal-dialog.aligned-popup
    .modal-content
      .modal-header
        %h3.modal-title.float-left Add New Signature
        %button.close{"data-dismiss" => "modal"} x
      .modal-body
        .form-group
          %textarea#editor2.ckeditor{:name => "editor2"} 
            #{current_user.digital_signature}
      .modal-footer
        - if current_user.digital_signature.blank?
          %button.btn.btn-secondary#update-signature Save
        - else
          %button.btn.btn-secondary#update-signature Update
        / %button.btn.btn-primary Save changes
